html {
  /*Urls are relative to the css file*/
  background: url(images/trees_background.jpg) no-repeat center fixed; 
  background-size: cover;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }



h1 {
    color: rgb(214, 214, 214);
    text-align: center;
  }



