{% extends 'base.html' %} {% block head %}
<!-- Using custom css:-->
<link rel="stylesheet" href="{{ url_for('static', filename='/home.css') }}" />

{% endblock %} {% block body%}
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand"><strong>SDGeye</strong></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('wordclouds')}}"
              >Word clouds</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('news')}}"
              >What's on Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Full Page Intro -->
  <div
    class="view"
    style="
      background-image: url(/static/images/trees_background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    "
  >
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 mb-4 text-white text-center">
            <h1
              class="h1-reponsive text-white text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"
            >
              <strong>How sustainable is your tweet?</strong>
            </h1>
            <hr class="hr-light my-4" />
            <h5 class="text-uppercase mb-4 text-white">
              <strong>Choose your interest</strong>
            </h5>
            <a
              class="btn btn-outline-light btn-lg"
              href="{{ url_for('wordclouds')}}"
              >Word clouds</a
            >
            <a class="btn btn-outline-light btn-lg" href="{{ url_for('news')}}"
              >What's on Twitter</a
            >
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
  <!-- Main navigation -->
</header>
<!--Main Layout-->
<main>
  <div class="container">
    <!--Grid row-->
    <div class="row py-5">
      <!--Grid column-->
      <div class="col-md-12 text-center">
        <p>
          This web is the culmination for the Final Project of a Data Science
          Degree by Martí Baldi. The abstract for the project is found below:
        </p>
        <h5>Abstract</h5>
        <p>
          This project addresses the development of a website that uses data
          collected from Twitter to fulfill two purposes: 1) ease the
          understanding and raise awareness about the Sustainable Development
          Goals (SDGs) and 2) monitorize the actions of representative
          organizations or individuals with a strong relationship with the SDGs.
          The process to achieve this consists of the following. First, the
          training of a binary classifier that, based on the tweet’s text,
          determines whether a tweet is related to the SDGs or not. Second, a
          multiclass document classifier that is trained to label tweets into
          one of the 17 SDGs. Finally, a graph analysis based on tweet
          references (retweets, replies and quotes) to determine the
          organizations and individuals mentioned in purpose number 2. Our
          results show that it is, indeed, possible to build a tool that matches
          such conditions.
        </p>
        <p>
          Keywords: Twitter, SDGs, Global Goals, document classification, graph
          analysis, web development.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main Layout-->

{% endblock %}
