{% extends 'subsite_base.html' %} {% block subsite_main %}

<h2>Filter by:</h2>
<div class="row">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#hist">Histograms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tweets">Tweets</a>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <!-- Histograms section -->
  <div class="tab-pane container active" id="hist">
    <div class="row">
      <div class="col-4">
        <form method="post">
          {% for key,value in authorities.iterrows() %}
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="histCheckbox"
              value="{{value['uid']}}"
            />{{key}}
          </div>
          {% endfor %}
          <button class="btn btn-primary" value="Submit">Filter</button>
        </form>
      </div>
      <!-- Content for histograms -->
      <div class="col-8">{% for id in selAuth %} {{id}} {% endfor %}</div>
    </div>
  </div>
  <!-- Histograms section -->

  <!-- Tweets form -->
  <div class="tab-pane container fade" id="tweets">
    <div class="row">
      <div class="col-4">
        <form method="post">
          {% for key,value in authorities.iterrows() %}
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="tweetsCheckbox"
              value="{{value['uid']}}"
            />{{key}}
          </div>
          {% endfor %}
          <button class="btn btn-primary" value="Submit">Filter</button>
        </form>
      </div>
      <!-- Right panel -->
      <div class="col-8">
        <div class="tab-content">
          <!-- Content for tweets -->
          This is tweets baby!
        </div>
      </div>
      <!-- Right panel -->
    </div>
  </div>
</div>

{% endblock%}
