{% extends 'subsite_base.html' %}{% block subsite_main %}
<div class="row">
    <div class="col-4">
      <div>
        <label for="btn-group">Learn about:</label>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
    </div>
        {% block menu_subsite %} {% endblock %}
    <div class="col-8">
        {% block main %} {% endblock %}
    </div>
</div>
{% endblock%}