{% extends 'subsite_base.html' %}
<!--{% block menu_subsite %}
<!-- menu for histograms-->

<!-- menu for histograms-->
<!--{% endblock %} -->
{% block subsite_main %}

<div class="row">
  <div class="col-4">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#hist">Histograms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tweets">Tweets</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Histograms content -->
      <div class="tab-pane container active" id="hist">
        {% for key,value in authorities.iterrows() %}
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              value="{{value}}"
            />{{key}}
          </label>
        </div>
        {% endfor %}
      </div>
      <!-- Tweets content -->
      <div class="tab-pane container fade" id="tweets">...</div>
    </div>
  </div>
</div>
<!-- tweet feed 
<div class="col text-center">
  <h2>Filter the tweet content</h2>
  <form name="form" , method="POST" , style="text-align: center">
    <div class="form-group">
      <label for="sel2"
        >Mutiple select list (hold shift to select more than one):</label
      >
      <select multiple class="form-control" id="sel2" name="selAuth">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button class="btn btn-primary" value="Submit">Filter</button>
  </form>

  {% for link in tweet_links %}
  <blockquote class="twitter-tweet align-center">
    <a href="{{link}}"></a>
  </blockquote>
  {% endfor %}
</div>
<!-- tweet feed -->

<!-- main section-->

{% endblock%}
