{% extends 'subsite_base.html' %} {% block subsite_main %}
<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      {% if tab=='hist' %}
      <a class="nav-link active" data-bs-toggle="tab" href="#hist">Accounts</a>
      {% else %}
      <a class="nav-link" data-bs-toggle="tab" href="#hist">Accounts</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if tab=='tweets' %}
      <a class="nav-link active" data-bs-toggle="tab" href="#tweets">Tweets</a>
      {% else %}
      <a class="nav-link" data-bs-toggle="tab" href="#tweets">Tweets</a>
      {% endif %}
    </li>
  </ul>
</div>
<div class="container">
  <!-- Tab panes -->
  <div class="tab-content content-section">
    <!-- Histograms section -->

    {% if tab=='hist' %}
    <div class="tab-pane container active" id="hist">
      {% else %}
      <div class="tab-pane container fade" id="hist">
        {% endif %}
        <div class="row">
          <div class="col-sm-4">
            <form method="post">
              {% for key,value in authorities.iterrows() %}
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  name="histCheckbox"
                  id="{{value['uid']}}"
                />{{key}}
              </div>
              {% endfor %}
              <button class="btn btn-outline-secondary" value="Submit">
                Filter
              </button>
            </form>
          </div>
          <!-- Content for histograms -->
          <div class="col-sm-8">
            histograms:{% for id in selAuth_hist %} {{id}} {% endfor %}
          </div>
        </div>
      </div>
      <!-- Histograms section -->

      <!-- Tweets form -->
      {% if tab=='tweets' %}
      <div class="tab-pane container active" id="tweets">
        {% else %}
        <div class="tab-pane container fade" id="tweets">
          {% endif %}

          <div class="row">
            <div class="col-sm-4">
              <form method="post">
                {% for SDG in SDGs %}
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="tweetsCheckbox"
                    value="{{SDG}}"
                  />#SDG{{SDG}}
                </div>
                {% endfor %}
                <button class="btn btn-outline-secondary" value="Submit">
                  Filter
                </button>
              </form>
            </div>
            <!-- Right panel -->
            <div class="col-sm-8">
              <!-- Content for tweets -->
              {% if tweets %} {% for tweet in tweets.items %}
              <blockquote class="twitter-tweet tw-align-center">
                <a href="https://twitter.com/x/status/{{tweet.id}}"></a>
              </blockquote>
              {% endfor %}
              <!-- Pagination -->
              <div>
                {% for page_num in tweets.iter_pages() %} {% if page_num %}
                <a
                  class="btn-outline-secondary mb-4"
                  href="{{ url_for('news', tab='tweets', page=page_num, selSDG_tweets=selAuth_tweets) }}"
                >
                  {{page_num}}</a
                >
                {% else %} ... {% endif %} {% endfor %} {% endif %}
              </div>
            </div>
            <!-- Right panel -->
          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </div>
</div>
